@font-face{
 font-family: "Miss Neally";
 src:url("../fonts/MissNeally.otf");
}    

body{
    background-color: black;

    margin: 0;

}

.header-shadow{

    background-image: url('../images/cities.jpg');
    background-color: black;
    height: 600px;
    max-height: 5000px;
    min-height: 50px;
    max-width: 5000px;
    min-width: 50px;
    background-size: 100% 100%;
    }

#search{
    position: absolute;
    font-size: 36px;
    color: white;
    display : inline;
    vertical-align: middle;
    border: 1px solid white;
    background-color:black;
    opacity: 0.7;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
#search:hover{

  color:pink;
}

#search:active{

  color:pink;
  border: 1px solid blue;
}

.secondpart{

    background-image: url('../images/e.jpg');
    background-color: black;
    height: 1500px;
    max-height: 5000px;
    min-height: 50px;
    max-width: 5000px;
    min-width: 50px;
    /*opacity: 0.7;*/
    background-repeat: no-repeat;
    }

#first_images{
    padding-top: 80px;
    padding-left: 60px;
    display: inline;
    }

.hello{
font-family: "Miss Neally";
font-style: italic;
color:white;
font-size: 55px;
text-align: center;
padding: 50px;
height: 9%;

}

.hello2{
font-family: "Miss Neally";
font-style: italic;
color:white;
font-size: 55px;
text-align: center;
padding: 50px;s
text-shadow: 2px 3px gray;
}

.ex{
font-family: "Miss Neally";
font-style: italic;
color:white;
font-size: 55px;
text-align: center;
text-shadow: 2px 3px black;
 /* border: 2px dotted blue;
border-radius: 10px;  */
 width: 50%; 
margin: auto;   
text-shadow: 1px 1px 2px red;


}

.hello1{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
color:#0f82fa;

font-size: 12pt;
text-shadow: 1px 1px 3px red;
text-align: center;

/*padding: 50px;*/

}


.beach { 
   position: absolute; 
   margin: 75px 130px;
   font-family: arial;
   font-weight: bold;
   font-size: 28pt; 
   color: white;
   /*display: none;*/
   text-shadow: 1.5px 3px  black;
}


.culture { 
   position: absolute; 
    margin: 75px 50px;
   font-family: arial;
   font-weight: bold;
   font-size: 28pt;
   display: inline;
   color: white; 
   text-shadow: 1.5px 3px  black;
}


.nature { 
    color: white;
   position: absolute; 
    margin: 75px 60px ;
   font-family: arial;
   font-weight: bold;
    display: inline;
   font-size: 28pt; 
   text-shadow: 1.5px 3px  black;
}


.cities { 
    color: white;
   position: absolute; 
   margin: 75px 70px;
   font-family: arial;
    display: inline;
   font-weight: bold;
   font-size: 28pt; 
   text-shadow: 1.5px 3px  black;}

.b1:hover{
opacity: 0.5;
cursor: pointer;

}
/*.beach:hover{
    opacity: 0.5;
    cursor: pointer;   
}*/
.c1:hover{
opacity: 0.5;
cursor: pointer;}

.n1:hover{
opacity: 0.5;
cursor: pointer;}

.ci1:hover{
opacity: 0.5;
cursor: pointer;}


.turkey { 
   margin-top: 20.8%;
   margin-left: 5px;
   position: absolute; 
   /* margin: auto; */
   font-family: arial;
   vertical-align: bottom;
   font-weight: bolder;
   font-size: 28pt; 
   color: white;
   line-height: 0.5em;
   /*display: none;*/
    text-shadow: 1.5px 3px 3px  #3f0e03; 
}

.turkey:hover{

    background-color: black;
    color:red;
    cursor: pointer;
    opacity: 0.8;
}

.pak { 
     margin-top: 20.8%;
   margin-left: 5px;
  position: absolute; 
   /* margin: auto; */
   font-family: arial;
   vertical-align: bottom;
   font-weight: bolder;
   font-size: 28pt; 
   color: white;
   line-height: 0.5em;
   /*display: none;*/
     text-shadow: 1.5px 3px 3px  #3f0e03; 
}

.pak:hover{

    background-color: black;
    color:red;
    cursor: pointer;
    opacity: 0.8;
}

.mongolia { 
     margin-top: 20.8%;
   margin-left: 5px;
  position: absolute; 
   /* margin: auto; */
   font-family: arial;
   vertical-align: bottom;
   font-weight: bolder;
   font-size: 28pt; 
   color: white;
   line-height: 0.5em;
   /*display: none;*/
  text-shadow: 1.5px 3px 3px  #3f0e03; 
}

.mongolia:hover{

    background-color: black;
    color:red;
    cursor: pointer;
    opacity: 0.8;
}
.vietnam { 
     margin-top: 20.8%;
   margin-left: 5px;
  position: absolute; 
   /* margin: auto; */
   font-family: arial;
   vertical-align: bottom;
   font-weight: bolder;
   font-size: 28pt; 
   color: white;
   line-height: 0.5em;
   /*display: none;*/
  text-shadow: 1.5px 3px 3px  #3f0e03; 
  
}
 
.vietnam:hover{

    background-color: black;
    color:red;
    cursor: pointer;
    opacity: 0.8;
}
 .second_images{
    padding-top: 80px;
    padding-left: 60px;
    display: inline;
    
   }  

   .bung { 

  position: absolute; 
   /* margin: auto; */
   font-family: arial;
     margin-left: 250px;
     margin-top:8%;
   font-weight: bolder;
   font-size: 28pt; 
   color: white;
   /* line-height: 0.5em; */
   /*display: none;*/
     text-shadow: 1.5px 3px 3px  black; 
}


   .scuba { 

  position: absolute; 
   /* margin: auto; */
      margin-left: 300px;
     margin-top:8%;
   font-family: arial;
   font-weight: bolder;
   font-size: 28pt; 
   color: white;
   /* line-height: 0.5em; */
   /*display: none;*/
     text-shadow: 1.5px 3px 3px  black; 
}


   .sky { 

  position: absolute; 
   /* margin: auto; */
   font-family: arial;
      margin-left: 330px;
     margin-top:8%;
   font-weight: bolder;
   font-size: 28pt; 
   color: white;
   /* line-height: 0.5em; */
   /*display: none;*/
     text-shadow: 1.5px 3px 3px  black; 
}


   .surf { 
 
  position: absolute; 
   /* margin: auto; */
   font-family: arial;
  margin-left: 360px;
     margin-top:8%;
   font-weight: bolder; 
   color: white;
   /* line-height: 0.5em; */
   /*display: none;*/
     text-shadow: 1.5px 3px 3px  black; 
}

.third_images{
    margin-top: 11%;
}
.DH{
  font-family: "Miss Neally";
font-style: italic;
color:white;
font-size: 55px;
text-align: center;
height: 10%; 
margin-top: 5%;
text-shadow: 2px 3px 3px grey; 

}